/* This is how to add a comment */

h1{
    color: rgb(49, 5, 131);
    front: size 30px;
    text-align: center;
}
/* This is how to target an element within our html */



body{
    /*background-color: blue;*/
    background-image: rgb(224, 235, 243);
}

/* This is how to add a background color to your webpage */

.large{
    front-size: 30px;
}

.center{
    text-align: center;
}

#navbar {
    background-color:rgb(184, 241, 239);
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  #navbar a {
    color: black;
    height: 20px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  #navbar a:hover {
    color:rgb(55, 28, 153);
  }
  h2{
      text-align: center;
  }

  .smallimage1{
      width: 100%; 
       
  }
  .smallimage{
      width: 50%;    
  }

  h3{ background-color:rgb(95, 204, 204);
    height: 20px;
    display: flex;
    justify-content: space-evenly;

  }
container{
    color: rgb(82, 63, 63);
    height: 40px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
  